<div class="banknavigation">
  <div class="container">
    <div class="bank">
      <p routerLink="/bank-services/payments" class="routes">
        To'lovlar va o'tkazmalar
      </p>
      <p
        routerLinkActive="active"
        routerLink="/bank-services/cards"
        class="routes"
      >
        Kartalar
      </p>
      <p
        routerLinkActive="active"
        routerLink="/bank-services/loans"
        class="routes"
      >
        Kreditlar
      </p>
      <p
        routerLinkActive="active"
        routerLink="/bank-services/deposits"
        class="routes"
      >
        Omonatlar
      </p>
    </div>
  </div>
</div>
