<div class="help">
  <div class="container">
    <div class="help-page">
      <h1>Yordam</h1>

      <div class="blo">
        <h2 id="#getMicroloan">SQB kartasiga kreditni qanday olish mumkin?</h2>
        <iframe
          class="frame"
          src="https://www.youtube.com/embed/2wlW4cSO6VU"
          title="Как получить кредит на карту SQB в приложении JOYDA?"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <h2 id="#conversion">Valyutani qanday konvertatsiya qilish mumkin?</h2>
        <iframe
          class="frame"
          width="100%"
          src="https://www.youtube.com/embed/yEpBap5yhJg"
          title="Конверсия валюты"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <h2 id="#identification">Identifikatsiyadan qanday o'tish kerak?</h2>
        <iframe
          class="frame"
          src="https://www.youtube.com/embed/uJ0FrluVgxs"
          title="JOYDA ilovasida ro&#39;yxatdan o&#39;ting (Identifikatsiya)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <h2 id="#humoPay">
          HumoPay kontaktsiz to'lovni qanday ishlatish mumkin?
        </h2>
        <iframe
          class="frame"
          src="https://www.youtube.com/embed/zteXbQDCWbw"
          title="Бесконтактная оплата Humo Pay"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <h2 id="#installment">
          Tovarlarni qanday qilib bo'lib to'lashga olish mumkin?
        </h2>
        <iframe
          class="frame"
          src="https://www.youtube.com/embed/bh6aS1xjggU"
          title="Покупка товаров в рассрочку"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
