<div class="main-card">
  <img
    class="bgpage"
    src="https://joyda.uz/personal-area-banner-bg.c5a3f02774ecbafdcf54.png"
    alt=""
  />
  <div class="main">
    <div class="container-min">
      <div class="cardpage">
        <div class="leftcard">
          <h1>Bankka borishga vaqtni sarflamay, kartani oching</h1>
          <button routerLink="/">Kartaga buyurtma bering</button>
        </div>
        <div class="rightcard">
          <img
            src="https://joyda.uz/assets/img/banners/card-banner-img.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
