<owl-carousel-o [options]="customOptions" class="carousel">
  <ng-template carouselSlide>
    <div class="mainslick1">
      <div class="container">
        <div class="main">
          <div class="left">
            <img
              src="https://joyda.uz/assets/img/logos/logo-new-year.png"
              alt=""
            />
            <h1>
              ЦИФРОВОЙ БАНК <br />
              В НОВОМ ФОРМАТЕ
            </h1>
            <p class="textplain">
              Joyda -это полноценный банк и магазин с широким выбором товаров.
              Стань пользователем JOYDA и скажи всем своим желаниям – да!
            </p>
          </div>
          <div class="right">
            <img
              src="https://joyda.uz/assets/img/banners/banner-main-img.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="mainslick2">
      <div class="container">
        <div class="main">
          <div class="left">
            <h1>Большой выбор товаров по лучшим ценам!</h1>
            <button class="btnclick">Начать покупки</button>
          </div>
          <div class="right">
            <img
              src="https://joyda.uz/assets/img/banners/marketplace-banner.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
